/* _________________________________ESTILOS PARA O FORMULÁRIO*/

form{
    display: flex;
    flex-direction: column;
}

form h4{
    align-self: flex-start;
    padding-left: 10px;
    font-weight: 500;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main-contact{
    display: flex;
}

.form-box{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    background-color: white;
    padding: 20px;
    width: 100%;
    /* height: 80vh; */
    gap: 20px;
}

#nome, #email, #tel, #mensagem{
    width: 270px;
}

.form-img{
    width: 350px;
}

.form-button{
    display: block;
    width: 22%;
    padding: 10px;
    margin: 20px auto;
    background-color: #1351d8;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font: 16px;
    border-radius: 10px;
}
.form-button:hover{
    background-color: #092c78;
    transform: scale(1.2);
}
