/* _________________________________ESTILOS PARA O FORMULÁRIO*/

form{
    display: flex;
    flex-direction: column;
}

form h4{
    align-self: flex-start;
    padding-left: 10px;
    font-weight: 500;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box{
    display: flex;
    background-color: white;
    padding: 20px;
    width: 600px;
    gap: 20px;
    margin: auto;
}

#nome, #email, #tel, #mensagem{
    width: 270px;
}

.form-img{
    width: 50%;
    height: 50%;
}

.form-button{
    display: block;
    width: 22%;
    padding: 10px;
    margin: 20px auto;
    background-color: #1351d8;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font: 16px;
    border-radius: 10px;
}

