/* _________________________________MEDIA QUERYS*/

@media (max-width: 768px){
    .header-list{
        gap: 18px;
        font-size: 0.8rem;
    }
    .header-logo{
        height: 4vh;
        width: auto;
    }
    main img{
        max-width: 90%;
    }

    main iframe{
        max-width: 90%;
        height: 35vh;
    }

    header{
        font-size: 5px;
    }

    .header-list{
        font-size: small;
    }

    .header-nav-item{
        margin-left: 10px;
    }

    .footer-socialMedia-img{
        height: 4vh;
    }
    footer{
        /* flex-direction: column;
        text-align: center;
        gap: 10px; */
    }
    footer p{
        font-size: small;
    }
    main img, main p{
        max-width: 90%;
        text-align: inherit;
    }
    .footer-copyright{
        display: none;
    }
}


/* ________________________________________________ FORM */
/* @media (max-width: 768px){
    form{
        flex: 1;
        display: inline;
        flex-direction: column;
    }

    .form-box{
        
    }

    .form-img{
        transform: scale(0.8);
    }
} */


/* @media (max-width: 768px){
    .form-box{
        
    }
    .form-img{
        transform: scale(0.8);
    }
} */