/* _________________________________MEDIA QUERYS*/

@media (max-width: 768px){
    .header-list{
        gap: 18px;
        font-size: 0.8rem;
    }

    .header-logo{
        height: 4vh;
        width: auto;
    }

    .header-list{
        font-size: small;
        gap: 5px;
    }

    .header-nav-item{
        margin-left: 10px;
    }
    
    .img-highlight{
        max-width: 98%;
    }

    .main-highlight-text{
        display: flex;
        justify-content: center;
    }
    .main-highlight-p{
        font-size: 12px;
    }
    .main-content{
        font-size: 0.7rem;
    }

    main img, main p{
        max-width: 90%;
        text-align: inherit;
    }

    main iframe{
        max-width: 98%;
        height: 35vh;
    }

    /* .main-contact{
        margin: auto;
        max-width: 5vw;
    } */

    table, td, tr{
        display: block;
        width: 100%;
    }
    .footer-socialMedia-img{
        height: 4vh;
    }

    /* footer{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    } */
    footer p{
        font-size: small;
    }

    .footer-copyright{
        display: none;
    }

    
    .form-box{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .form-img{
        width: 70%;
    }
    .form-button{
        transform: scale(0.8);
    }
}
