@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* _________________________________ESTILOS GERAIS E ESTRUTURAS COMUNS*/

body{
    font-family: "Montserrat", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* _________ HEADER */

header{
    padding: 15px;
}

.header-box{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-nav{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.header-list{
    margin-left: 30px;
    font-weight: 550;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1rem;
}

.header-logo{
    height: 60px;
    width: auto;
}

.header-nav-item{
    color: #1351d8;
    text-decoration: none;
    transition: font-size 0.4s;
}
.header-nav-item:hover{
    color: #06064d;
    font-size: 1.1rem;
}


/* ____________________________________________________MAIN */

main{
    flex: 1;
    text-align: center;
    padding: 30px 0;
}

main img{
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

main p{
    margin-top: 10px; 
    margin-bottom: 20px; 
    font-size: 1rem;
}

main h3{
    color:#092c78;
    font-weight: 550;
    display: flex;
    text-align: justify;
    max-width: 80%;
    height: auto;
    margin:auto;
    padding: 8px;
    border: 1px solid #1351d8;
    border-radius: 15px;
}

.main-highlight-p{
    font-size: .9rem;
}

.main-content{
    font-size: 1.rem;
}

/* _________ FOOTER */

footer{
    background-color: #1b357e;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: auto;
}

footer p{
    font-size: 80%;
    margin-right: .62rem;
}

.footer-socialMedia{
    height: 35px;
    width: auto;
}

.footer-socialMedia-img{
    width: 40px;
}

.footer-copyright{
    margin-left: auto;
    font-size: 11px;
}

.footer-logo{
    margin-left: auto;
    right: 3%;
    height: 65%;
    width: auto;
}





/* <ESTILOS DA PÁGINA RELEASE> */
.release-main-descriptionBox{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.release-main-descriptionBox-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #1351d8;
}



.main-button{
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background-color: #1351d8;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font: 16px;
    border-radius: 5px;
}
.main-button:hover{
    background-color: #092c78;
}
/* </ESTILOS DA PÁGINA RELEASE> */

