/* _________________________________ESTILOS PARA A TABELA*/

.table-container{
    max-width: 1200px;
    margin: auto;
    overflow-x: auto; /*para nao vazar da tela caso seja mt grande */
}

table{
    width: 100%;
    border-collapse: collapse; /*pode usar 'separete' para deixar um espaço entre as células*/
    margin-top: 20px;
}

td{
    padding: 10px;
    text-align: center;
}

table img{
    width: 250px;
    height: auto;
}

table input{
    transform: scale(1.5);
    margin: 10px;
    cursor: pointer;
}

.img-info{
    height: 20px;
    width: auto;
}
