/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* #1b357e
#1351d8 */


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    background-color: #1b357e;
    display: flex;
    align-items: center;
    padding: 20px;
}
.header-nav-item{
    text-decoration: none;
}

/* .header-list{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    align-items: center;
} */

.header-nav{
    display: flex;
    justify-content: center;
    gap: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-nav-item{
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #1351d8
}
main{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    color: #000000
}





footer{
    display: flex;
    background-color: #1b357e;
    color: #ffffff;
    align-items: center;
    padding-left: 15px;
}
.footer-logo{
    right: 0;
}