*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mode', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .header-box{ MEXER DEPOIS, CONFIGURAÇÃO PARA AS DIV
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */

header{
    padding: 15px;
}

.header-box{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-nav{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-list{
    margin-left: 30px;
    /* font-weight: bold; */
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.header-logo{
    height: 60px;
    width: auto;
}

.header-nav-item{
    color: #1351d8;
    text-decoration: none;
}

main{
    flex: 1;
    text-align: center;
    padding: 30px 0;
}

main img{
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

main p{
    margin-top: 10px;  
    font-size: small;
    /* position: absolute;
    transform: translate(-50%, -90%);
    top: 90%;
    left:50%;    */
}

.footer-socialMedia-img{
    width: 40px;
}

/* <ESTILOS DA PÁGINA RELEASE> */
.release-main-descriptionBox{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.release-main-descriptionBox-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #1351d8;
}

.img-info{
    height: 20px;
    width: auto;
}

.tabela-container{
    max-width: 1000px;
    margin: auto;
    overflow-x: auto; /*para nao vazar da tela caso seja mt grande */
}

table{
    width: 100%;
    border-collapse: collapse; /*pode usar separete para deixar um espaço entre as células*/
    margin-top: 20px;
}

td{
    padding: 10px;
    text-align: center;
}

table img{
    width: 200px;
    height: auto;
}

table input{
    transform: scale(1.5);
    margin: 10px;
    cursor: pointer;
}

.main-button{
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background-color: #1351d8;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font: 16px;
    border-radius: 5px;
}
/* </ESTILOS DA PÁGINA RELEASE> */


footer{
    background-color: #1b357e;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: auto;
    position: relative;
}

.footer-socialMedia{
    height: 10px;
    width: auto;
}

.footer-copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
}

.footer-logo{
    position: absolute;
    bottom: 10px;
    right: 45px;
    height: 35px;
    width: auto;
}


@media (max-width: 768px){
    .header-logo{
        height: 4vh;
        width: auto;
    }
    main img{
        max-width: 90%;
    }

    header{
        font-size: 5px;
    }

    .header-list{
        font-size: small;
    }

    .header-nav-item{
        margin-left: 10px;
    }

    .footer-socialMedia-img{
        height: 4vh;
    }
}