*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mode', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .header-box{ MEXER DEPOIS, CONFIGURAÇÃO PARA AS DIV
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */

header{
    padding: 15px;
}

.header-box{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-nav{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-list{
    margin-left: 30px;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.header-logo{
    height: 60px;
    width: auto;
}

.header-nav-item{
    color: #1351d8;
    text-decoration: none;
}

main{
    flex: 1;
    text-align: center;
    padding: 30px 0;
}

main img{
    max-width: 75%;
    height: auto;
    margin-top: 20px;
}

main p{
    margin-top: 10px;  
    font-size: small;   
}
    
footer{
    background-color: #1b357e;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: auto;
    position: relative;
}

.footer-socialMedia{
    height: 10px;
    width: auto;
}

.footer-copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
}

.footer-logo{
    position: absolute;
    bottom: 10px;
    right: 45px;
    height: 35px;
    width: auto;
}

@media (max-width: 768px){
    main img{
        max-width: 90%;
    }

    header{
        font-size: small;
    }

    .header-list{
        font-size: small;
    }

    .header-nav-item{
        margin-left: 10px;
    }
}